<div class="content_header"><h1>Tutors index</h1></div>

<div class="grouped_box">
  <div class="selection_group">
    <ul>
      <% @tutors.sort_by(&:name).each do |tutor| %>
        <div><li><%= link_to tutor.name, tutor_path(tutor) if @tutors.name %></li></div>
      <% end %>
    </ul> 
  </div>
</div>