<h1><%= @tutor.name %></h1>

<div>School: <%= link_to @tutor.school.name, school_path(@tutor.school) if @tutor.school %></div>

<br>
<h3><%= button_to "Logout", sessions_tutor_path, method: :delete %></h3>
