<div class="content_header"><h1>Subjects index</h1></div>

<div class="grouped_box">
  <div class="selection_group">
    <ul>
      <% @subjects.sort_by(&:name).each do |subject| %>
        <div><li><%=subject.name%></li></div>
      <% end %>
    </ul>
  </div>
</div>