<div class="content_header"><h1>School index</h1></div>

<div>
  <ul>
    <% @schools.sort_by(&:name).each do |school| %>
      <li><%= link_to school.name, school_path(school) if @schools.name %></li>
    <% end %>
  </ul>
</div>