/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 Select everything 
*/ 
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 10em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: white;
  padding: 1em;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 10em;
  padding-left: 1em;
}

.content_header {
  /* margin: unset; */
  background: rgba(0,0,0,0.1);
  padding-left: 0.16em;
  padding-right: 0.16em;
  
}

.grouped_box {  
  background: rgba(0,0,0,0.1);
  margin: 0.16em;
  padding: 0.16em;
  /* border-radius: 4px; */
  float: left;
  clear: left;
}

.selection_group {
  background: rgba(0,0,0,0.1);
  margin: 0.16em;
  padding: 0.32em;
  /* border-radius: 4px; */
}

ul {
  list-style: none;
}

li {
  margin-top: 1em;
}
