// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.content_header {
  margin: unset;
  background: rgba(0,0,0,0.1);
  padding: 0.16em;
}